* {
  font-size: 16px;
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
  box-sizing: border-box;
}

a {
  color: #000;
}

section {
  position: relative;
  width: 982px;
}

table {
  border: 2px solid #000;
  margin: 0px;
  padding: 0px;
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid #000;
}

td {
  padding: 15px 10px;
  margin: 0px;
  min-width: 154px;
  text-align: center;
  border-bottom: 1px solid #000;
  border-right: 2px solid #000;
}

input {
  width: 50%;
  text-align: center;
  border: none;
  font-size: 16pt;
  color: #000;
}

select {
  -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  border: none;
  font-size: 14pt;
}

td.first-col {
  /*background-color: rgba(127, 175, 182, 0.5);*/
  background-color: #fff;
  min-width: 200px;
  text-align: right;
}

.description {
  display: block;
  font-size: 8pt;
  font-style: italic;
}

td.last-col {
  /*background-color: #fff;
  padding: 0px;
  margin: 0px;
  min-width: 400px;*/
  display: none;
}

td[colspan="2"] {
  font-size: 18pt;
}

.highlight {
  background-color: #fff;
  color: #000;
  /*background-color: #97528b;*/
  /*color: #fff;*/
  font-size: 18pt;
}

.slide-container {
  margin: 10px;
  padding: 5px;
  min-width: 300px;
}

.slider-label {
  display: inline-block;
  padding: 0px 10px;
  margin: 0px 5px 15px;
  min-width: 75px;
  font-size: 10pt;
  text-align: center;
}

h1 {
  font-size: 13pt;
  font-weight: normal;
  margin: 0px;
  padding: 0px;
}

#options {
  display: none;
}
