* {
  font-size: 16px;
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
  box-sizing: border-box;
}

a {
  color: #000;
}

section {
  position: relative;
  width: 982px;
}

table {
  border: 2px solid rgba(0,0,0,0.5);
  margin: 0px;
  padding: 0px;
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid #000;
}

td {
  padding: 15px 10px;
  margin: 0px;
  min-width: 154px;
  text-align: center;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}


td.first-col {
  background-color: rgba(127, 175, 182, 0.5);
  min-width: 200px;
  text-align: right;
}

.container {
  border: 2px solid rgba(0,0,0,0.5);
}

.row {
  border-bottom: 1px solid #000;
  display: flex;
  flex-flow: row wrap;
  min-height: 50px;
  justify-content: center;
  align-items: baseline;
}

.row-last {
  border-bottom: 0px;
}

.first-col {
  background-color: #eee;
  color: #7fafb6;
  font-family: bold;
  flex: 1 0 200px;
  min-height: 50px;
  padding: 20px;
}

.first-col-result {
  color: #7fafb6;
  font-family: bold;
  flex: 1 0 200px;
  min-height: 50px;
  padding: 20px;
}

.mid-col {
  flex: 1 0 50px;
  align-self: center;
  padding: 0px auto;
  min-height: 50px;
}

input[type=text] {
  text-align: center;
  margin: 10px;
}

.last-col {
  background-color: #fff;
  display: flex;
  flex: 1 0 350px;
  min-height: 50px;
}

td.last-col {
  background-color: #fff;
  padding: 0px;
  margin: 0px;
  min-width: 400px;
}

td[colspan="2"] {
  font-size: 18pt;
}

.description {
  display: block;
  font-size: 10pt;
  color: #3c4043;
}

.slide-container {
  display: inline-block;
  margin: 0px auto;
}

.slider-label {
  display: inline-block;
  padding: 0px 10px;
  margin: 0px 5px 15px;
  min-width: 75px;
  font-size: 10pt;
  text-align: center;
}

.result-col {
  flex: 1 1 420px;
  font-size: 18pt;
  text-align: center;
  padding: 0px 10px 5px;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*.result-col span {
  align-self: center;
}*/

.highlight {
  color: #fff;
  background-color: #97528b;
  font-size: 20pt;
  font-weight: bold;
}

h1 {
  font-size: 13pt;
  font-weight: normal;
  margin: 0px;
  padding: 0px;
}

#options {
  position: absolute;
  right: 10px;
}

#options * {
  margin: 10px;
}

@media (max-width: 768px) {
  .slider-label {
    position: relative;
    top: 10px;
    margin: 0px;
    padding: 0px;
  }

  input[type=text] {
    width: 90%;
  }
}
